NEW_API_IMAGE=ghcr.io/你的github用户名/new-api:custom
NEW_API_PORT=3000

POSTGRES_USER=root
POSTGRES_PASSWORD=请改成很长的随机PostgreSQL密码
POSTGRES_DB=new-api
REDIS_PASSWORD=请改成很长的随机Redis密码
SESSION_SECRET=请改成很长的随机会话密钥

TZ=Asia/Shanghai
NODE_NAME=new-api-node-1
